<div class="modal-box-title">
  <span class="modal-box-title-pdf" [ngClass]="pdf_link"  (click)="emitPDFEvent()">
    <ng-container *ngIf="pdf_link">
      <i class="fa-solid fa-file-pdf"></i>
    </ng-container>
  </span>
  <span class="modal-box-title-text" [ngClass]="modal_style_class[0]">{{
    modal_title
  }}</span>
  <div
    class="modal-box-close"
    [ngClass]="[modal_style_class[0], modal_style_class[2]]"
    (click)="closeModalBtn()"
  >
    X
  </div>
</div>
<div class="modal-box-container">
  <!-- <ng-container *ngFor="let item of heading_name | keyvalue">
    <div class="modal-box-item" [ngClass]="modal_style_class[1]">
      <span class="modal-box-item-title" [ngClass]="modal_style_class[0]">{{
        item.value
      }}</span>
      :
      <span class="modal-box-item-value">
        {{getValue(item)}}
      </span>
    </div>
  </ng-container> -->
  <ng-container *ngFor="let item of heading_name">
    <ng-container *ngIf="getValue(item[0])">
    <div class="modal-box-item" [ngClass]="modal_style_class[1]">
      <span class="modal-box-item-title" [ngClass]="modal_style_class[0]">{{
        item[1]
      }}</span>
      :
      <span class="modal-box-item-value">
        {{getValue(item[0])}}
      </span>
    </div>

  </ng-container>
  </ng-container>
</div>
