<app-navbar-component
  [ngClass]="commonStyleValues.navbarStyleClasses['navbar-container']"
  class="navbar-container"
  [portal_name]="'Employee'"
  [style_class]="commonStyleValues.navbarStyleClasses"
></app-navbar-component>
<app-bread-crumb
  class="breadcrumb-outer-container"
  [style_class]="commonStyleValues.breadCrumbStyleClass"
  [breadcrumb_text]="['Employee', 'Payroll List']"
  (onToDashboard)="toDashboard()"
></app-bread-crumb>
<h2 class="breadcrumb-title">PAYROLL LIST</h2>
<app-table-component
  [table_data]="PayrollData"
  [style_class]="commonStyleValues.tableStyleClass"
  (display_modal)="showModal($event)"
  [column_values]="columnValues"
>
</app-table-component>
<app-modal-box
  *ngIf="modalToggle"
  class="modal-box-outer-container"
  [modal_title]="modalTitle"
  [modal_data]="modalData"
  (close_modal)="closeModal()"
  [pdf_link]="'breadcrumb-text-color-employee'"
  [modal_style_class]="commonStyleValues.modalStyleClass"
  (PDFDownload)="downloadPaySlip()"
></app-modal-box>
<app-loading-screen
  class="loading-screen-container {{ loadingScreenToggle ? '' : 'fadeaway' }}"
  [loading_class]="'employee-loading-screeen'"
  *ngIf="loadingScreenToggle"
></app-loading-screen>
