<app-navbar-component
  [ngClass]="commonStyleValues.navbarStyleClasses['navbar-container']"
  class="navbar-container"
  [portal_name]="'Customer'"
  [style_class]="commonStyleValues.navbarStyleClasses"
  [style_class]="commonStyleValues.navbarStyleClasses"
></app-navbar-component>
<div class="dashboard-content">
  <app-portal-card
    class="card card-container"
    (click)="goToInquiry()"
    [image_path]="cardImage.inquiry"
    [portal_name]="cardName[0]"
    [overlay_color]="cardOverlayColor.inquiry"
    style="box-shadow: 4px 4px 5px 3px #1d2054; border: 1px solid #1d2054"
  >
  </app-portal-card>
  <app-portal-card
    class="card card-container"
    (click)="goToDelivery()"
    [image_path]="cardImage.delivery"
    [portal_name]="cardName[2]"
    [overlay_color]="cardOverlayColor.delivery"
    style="box-shadow: 4px 4px 5px 3px #1d2054; border: 1px solid #1d2054"
  >
  </app-portal-card>

  <app-portal-card
    class="card card-container"
    (click)="goToSaleOrder()"
    [image_path]="cardImage.saleOrder"
    [portal_name]="cardName[1]"
    [overlay_color]="cardOverlayColor.saleOrder"
    style="box-shadow: 4px 4px 5px 3px #1d2054; border: 1px solid #1d2054"
  >
  </app-portal-card>
  
  <app-portal-card
    class="card card-container"
    (click)="goToFinancialSheet()"
    [image_path]="cardImage.financialSheet"
    [portal_name]="cardName[3]"
    [overlay_color]="cardOverlayColor.financialSheet"
    style="box-shadow: 4px 4px 5px 3px #1d2054; border: 1px solid #1d2054"
  >
  </app-portal-card>
</div>
