.landing-page-navbar {
  width: 100%;
  background-color: #88b2b2;
  display: flex;
  height: 10vh;
  justify-content: space-between;
  padding:10px 20px;
  box-shadow: 0px 0.5px 10px 0.5px #000;
}
.landing-page-navbar p {
  text-align: center;
  font-weight: bold;
  font-size: 25px;
  letter-spacing: 1px;
}

.landing-page-content{
  display: flex;
  min-height: 90vh;
  height: auto;
  width: 100%;
  max-height: 1000px;
  flex-wrap: wrap;
  align-items: center;
  justify-content:space-around;
}


/* card */
.card-container{
  width: 25%;
  height: 40vh;
  border-radius: 7px;
  transition: all 0.5s;
  padding: 0;
  margin:0;
}

.card-container:hover {
  transform: scale(1.03);
}


::ng-deep .card-container:hover .card-container-heading{
  animation: go_center 0.4s ease-in;
  transform: translateY(-400%) translateX(0%);
  color:rgba(255,255,255);
  z-index: 1;
}

::ng-deep .card-container:not(:hover) .card-container-heading{
  animation: go_bottom 0.4s ease-out;
  transform: translateY(0%) translateX(0%);
}

@keyframes go_center{
  0%{
    transform: translateY(0%) translateX(0%);
  }
  100%
  {
    transform: translateY(-400%) translateX(0%);
  }
}

@keyframes go_bottom{
  0%{
    transform: translateY(-400%) translateX(0%);
  }
  100%{
    transform: translateY(0%) translateX(0%);
  }
}

::ng-deep .card-container:hover .card-overlay{
  height: 40vh;
}
