<div class="filter-container">
  <div class="filter-item-container" [ngClass]="filter_icon_style">
    <i class="fa-solid fa-magnifying-glass"></i>
    <div class="filter-item-detail">Search</div>
  </div>
  <div class="filter-item-container" [ngClass]="filter_icon_style">
    <i class="fa-solid fa-filter"></i>
    <div class="filter-item-detail">Filter</div>
  </div>
  <div class="filter-item-container" [ngClass]="filter_icon_style" (click)="exportToExcel()">
    <i class="fa-solid fa-file-arrow-down"></i>
    <div class="filter-item-detail">Download</div>
  </div>
  <div class="filter-item-container" [ngClass]="filter_icon_style">
    <i class="fa-solid fa-arrows-rotate"></i>
    <div class="filter-item-detail">Reset</div>
  </div>
</div>
<table class="table" #tableXLSX>
  <tr class="table-row" [ngClass]="style_class[0]">
    <ng-container *ngFor="let header of columnHeaderValues">
      <th class="table-heading" [ngClass]="style_class[1]">
        {{ header }}
      </th>
    </ng-container>
  </tr>
  <tr
    class="table-row"
    [ngClass]="style_class[0]"
    *ngFor="let item of currentTableData; let i = index"
    (click)="sendToOpenModal(item)"
  >
    <ng-container *ngFor="let key of columnKeyValues">
      <td class="table-element">
        {{ item[key] == "" ? "--" : item[key] }}
      </td>
    </ng-container>
  </tr>
</table>
