<table class="table">
  <tr class="table-row" [ngClass]="style_class[0]">
    <ng-container *ngFor="let columnValue of column_values | keyvalue">
      <th class="table-heading" [ngClass]="style_class[1]">
        {{ columnValue.key }}
      </th>
    </ng-container>
  </tr>
  <tr
    class="table-row"
    [ngClass]="style_class[0]"
    *ngFor="let item of table_data; let i = index"
    (click)="sendToOpenModal(item)"
  >
    <ng-container *ngFor="let key of columnKeyValues;">
      <td class="table-element">
        {{item[key]=="" ?'--':item[key]}}
      </td>
    </ng-container>
  </tr>
</table>
