/* COMMON TABLE STYLING BASED ON COMPONENT */
/* Zebra s.table-rowiping */
.table-row:nth-of-type(odd) {
  background: #dee6ff;
}
.table-heading {
  background: var(--customer-blue);
}

.table-row:hover .table-element {
  background: #253152;
}
/*          */