.selectedColumn {
  color: var(--customer-blue);
  background: #c8cfe6;
}
.filter-item-top-container {
  position: relative;
  width: 3%;
  margin-left: 10px;
}
.filter-item-box {
  position: absolute;
  width: 309px;
  top: -117px;
  left: -142px;
  border: 2px solid var(--customer-blue);
  border-radius: 5px;
  padding: 31px 26px;
  background: snow;
  animation: showDown 0.3s ease-in;
  transition: all 0.2s;
}
.table-row:hover .filter-item-box {
}
#search-input {
  width: 100%;
  padding: 5px 10px;
}
#search-input::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  font-weight: bold;
  text-align: center;
  color: black;
}
@keyframes showDown {
  0% {
    opacity: 0;
    transform: translateY(-30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
.filter-item-date-box {
  width: 300px;
  top: -135px;
  left: -137px;
  padding: 5px 0px;
  background: snow;
  z-index: 1;
}
.filter-item-type-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-weight: bold;
}
.filter-item-type-container span {
  font-weight: bold;
  text-align: center;
  width: 35%;
  padding: 5px 0px;
}
.filter-item-date-active {
  color: var(--customer-blue);
  border-bottom: 3px solid var(--customer-blue);
}
.filter-item-date-inactive {
  opacity: 0.5;
}
.filter-item-date-container {
  width: 100%;
  background: snow;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding-top: 16px;
}
.filter-item-range-container {
  width: 100%;
  background: snow;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding-top: 16px;
}
.filter-item-date-picker {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  width: 75%;
  text-align: center;
  text-transform: uppercase;
}
.filter-item-range-picker {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  width: 42%;
  text-align: center;
  text-transform: uppercase;
  font-size: 13px;
}
.filter-item-range-picker-container {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.filter-item-date-get-btn {
  margin-top: 10px;
  width: 30%;
  font-size: 21px;
  color: var(--customer-blue);
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.filter-container {
  width: 83%;
  margin: 50px auto;
  margin-top: 25px;
  padding: 10px 20px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.filter-item-container {
  cursor: pointer;
  border-radius: 23px;
  width: 100%;
  padding: 1px;
  padding: 6px 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
  position: relative;
  animation: showUp 1s ease-in-out;
}
@keyframes showUp {
  0% {
    transform: translateY(80px) rotate(0.3turn);
    opacity: 0.1;
  }
  50% {
    transform: translateY(-10px);
    opacity: 1;
  }
  80% {
    transform: rotate(-0.06turn);
  }
  100% {
    transform: translateY(0px);
  }
}
.filter-item-container:hover {
  transform: translateY(-2px);
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
}
.filter-item-container:active {
  transform: translateY(0px);
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
}
.filter-item-detail {
  position: absolute;
  padding: 5px 13px;
  border-radius: 18px;
  top: -49px;
  letter-spacing: 1px;
  font-weight: bold;
  color: var(--customer-blue);
  font-size: 10px;
  transition: all 0.4s;
  animation: popUp 0.3s ease-in;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
  text-align: center;
  display: none;
}
.filter-item-container:hover .filter-item-detail {
  display: flex;
}
@keyframes popUp {
  0% {
    opacity: 0.5;
    transform: translateY(5px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
.filter-content-container {
  position: absolute;
  border: 2px solid var(--customer-blue);
  top: 40px;
  transition: all 0.4s;
  width: 300px;
  animation: popDown 0.3s ease-in;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 7px;
  /* padding: 28px 20px; */
  background: snow;
}

@keyframes popUp {
  0% {
    opacity: 0.5;
    transform: translateY(-5px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
.filter-rows-input-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.filter-row-all {
  width: 20%;
  text-align: center;
  border: 2px solid var(--customer-blue);
  border-radius: 7px;
}
.filter-row-slider {
  width: 80%;
}
.pagination-top-container {
  width: 83%;
  margin: 0px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pagination-numbers-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: space-evenly;
  flex-wrap: wrap;
}
.pagination-numbers {
  width: 3%;
  text-align: center;
  font-weight: bold;
  border-radius: 19px;
  font-size: 18px;
  cursor: pointer;
  margin:0px 20px;
  transition: all 0.5s;
}
.pagination-numbers-active{
  border: 2px solid var(--customer-blue);
  background: var(--customer-blue);
  color:snow;
}
.pagination-numbers-inactive{
  border: 2px solid var(--customer-blue);
  color: var(--customer-blue);
}
.pagination-numbers:hover{
  border: 2.5px solid var(--customer-blue);
  transform: scale(1.05);
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2); 
}
.pagination-left,.pagination-right{
  font-size: 17px;
  color: var(--customer-blue);
  cursor: pointer;
  width: 3%;
  text-align: center;
  border-radius: 20px;
  border:2px solid white;
  transition: all 0.5s;
}
.pagination-left{
  margin-right: 35px;
}
.pagination-right{
  margin-left:35px;
}
.pagination-left:hover,.pagination-right:hover{
  border:2px solid var(--customer-blue);
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2); 
  transform: scale(1.05);
}
.pagination-left:active,.pagination-right:active{
  transition: 0.2s;
  transform: translateY(1px);
  background: var(--customer-blue);
  color:snow;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1); 
}
.row-invisibility{
  visibility: hidden;
  position: absolute;
  opacity: 0;
}