/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  --customer-blue: #20346e;
  --employee-green: #248c8e;
  --vendor-pink: #d9728e;
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* LOGIN CONTAINER */
.login-container {
  display: flex;
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: space-evenly;
}
/*           */
/* CUSTOMER LOGIN STYLES */
.customer-login-box-container {
  background-color: rgb(192, 217, 239);
}
.customer-login-box {
  border: 2.5px solid #20346e;
  box-shadow: 11px 10px 34px -1px rgba(98, 138, 236, 0.59);
}
.customer-login-btn {
  background-color: #20346e;
}
.customer-login-back-button {
  background-color: #20346e;
}
/*               */
/* EMPLOYEE LOGIN STYLES */
.employee-login-box-container {
  background-color: rgb(234, 254, 255);
}
.employee-login-box {
  border: 2.5px solid #248c8e;
  box-shadow: 11px 10px 34px -1px rgba(36, 140, 142, 0.58);
}
.employee-login-btn {
  background-color: #248c8e;
}
.employee-login-back-button {
  background-color: #248c8e;
}
/*               */
/* VENDOR LOGIN STYLES */
.vendor-login-box-container {
  background-color: rgba(217, 114, 142, 0.1);
}
.vendor-login-box {
  border: 2.5px solid #d9728e;
  box-shadow: 11px 10px 34px -1px rgba(217, 114, 142, 0.58);
}
.vendor-login-btn {
  background-color: #d9728e;
}
.vendor-login-back-button {
  background-color: #d9728e;
}
/*               */

/* Navbar */
.navbar-container {
  position: relative;
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px;
}

/* END OF NAVBAR */
/* CUSTOMER NAVBAR STYLES */
.customer-navbar-container {
  background-color: rgb(192, 217, 239);
}
.customer-navbar-profile-icon {
  border: 2.5px solid var(--customer-blue);
}
.customer-navbar-dropdown-container {
  border-right: 2px solid var(--customer-blue);
  border-left: 2px solid var(--customer-blue);
  border-bottom: 2px solid var(--customer-blue);
  background-color: rgb(192, 217, 239);
}
.customer-navbar-dropdown-item-container:hover {
  background-color: var(--customer-blue);
}
.customer-profile-modal-box {
  border: 3.5px solid var(--customer-blue);
}
.customer-profile-modal-values {
  border-bottom: 2px solid var(--customer-blue);
}
/*          */
/* EMPLOYEE NAVBAR STYLES */
.employee-navbar-container {
  background-color: rgba(36, 140, 142, 0.58);
}
.employee-navbar-profile-icon {
  border: 2.5px solid #078082;
}
.employee-navbar-dropdown-container {
  border-right: 2px solid #078082;
  border-left: 2px solid #078082;
  border-bottom: 2px solid #078082;
  background-color: rgba(36, 140, 142, 0.58);
}
.employee-navbar-dropdown-item-container:hover {
  background-color: var(--employee-green);
}
.employee-profile-modal-box {
  border: 3.5px solid var(--employee-green);
}
.employee-profile-modal-values {
  border-bottom: 2px solid var(--employee-green);
}
/*          */
/* VENDOR NAVBAR STYLES */
.vendor-navbar-container {
  background-color: rgba(217, 114, 142, 0.47);
}
.vendor-navbar-profile-icon {
  border: 2.5px solid #d9728e;
}
.vendor-navbar-dropdown-container {
  border-right: 2px solid #d9728e;
  border-left: 2px solid #d9728e;
  border-bottom: 2px solid #d9728e;
  background-color: rgba(217, 114, 142, 0.47);
}
.vendor-navbar-dropdown-item-container:hover {
  background-color: var(--vendor-pink);
}
.vendor-profile-modal-box {
  border: 3.5px solid var(--vendor-pink);
}
.vendor-profile-modal-values {
  border-bottom: 2px solid var(--vendor-pink);
}
/*          */

/* DASHBOARD */
.dashboard-content {
  width: 80%;
  height: 110vh;
  display: flex;
  align-content: space-evenly;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 0 auto;
}
/* END OF DASHBOARD */

/* Card  */
.card-container {
  width: 30%;
  height: 40vh;
  border-radius: 7px;
  transition: all 0.5s;
  padding: 0;
  margin: 0 auto;
  cursor: pointer;
}

.card-container:hover {
  transform: scale(1.03);
}

.card-container:hover .card-container-heading {
  animation: go_center 0.4s ease-in;
  transform: translateY(-400%) translateX(0%);
  color: rgba(255, 255, 255);
  z-index: 1;
}

.card-container:not(:hover) .card-container-heading {
  animation: go_bottom 0.4s ease-out;
  transform: translateY(0%) translateX(0%);
}

@keyframes go_center {
  0% {
    transform: translateY(0%) translateX(0%);
  }
  100% {
    transform: translateY(-400%) translateX(0%);
  }
}

@keyframes go_bottom {
  0% {
    transform: translateY(-400%) translateX(0%);
  }
  100% {
    transform: translateY(0%) translateX(0%);
  }
}
.card-container:hover .card-overlay {
  height: 40vh;
}

/* END OF CARD */

/* TABLE STYLES */
.table {
  width: 83%;
  border-collapse: collapse;
  margin: 50px auto;
}

.table-heading {
  color: white;
  font-weight: bold;
  text-align: center;
}
.table > :not(:first-child) {
  border-top: none;
}
.table-element,
.table-heading {
  text-align: center;
  padding: 10px;
  border: 1px solid rgb(39, 4, 4);
  font-size: 18px;
}
.table-row {
  cursor: pointer;
}
.table-row:hover .table-element {
  border-right: 1px solid #ccc;
  color: white;
}
.table-row:hover {
  transform: scale(1.01);
}
.no-data-container{
  width: 100%;
  display: flex;
  margin: 70px 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.no-data-img{
  width: 15%;
  margin-bottom:20px;
}
/* COMMON TABLE STYLING BASED ON COMPONENT */
/* Zebra s.table-rowiping */
.customer-table-row:nth-of-type(odd) {
  background: #dee6ff;
}
.customer-table-heading {
  background: var(--customer-blue);
}

.customer-table-row:hover .table-element {
  background: #253152;
}
.customer-filter-icon{
  border: 2px solid var(--customer-blue);
  color:var(--customer-blue);
}
.customer-filter-icon:hover{
  color:snow;
  background:var(--customer-blue);
}

.customer-selectedColumn {
  color: var(--customer-blue);
  background: #c8cfe6;
}
.customer-filter-item-box {
  border: 2px solid var(--customer-blue);
}
.customer-filter-item-date-active {
  color: var(--customer-blue);
  border-bottom: 3px solid var(--customer-blue);
}
.customer-filter-item-date-get-btn {
  color: var(--customer-blue);
}
.customer-filter-item-detail {
  color: var(--customer-blue);
}
.customer-pagination-numbers-active{
  border: 2px solid var(--customer-blue);
  background: var(--customer-blue);
}
.customer-pagination-numbers-inactive{
  border: 2px solid var(--customer-blue);
  color: var(--customer-blue);
}
.customer-pagination-numbers:hover{
  border: 2.5px solid var(--customer-blue);
}
.customer-pagination-arrows{
  color: var(--customer-blue);
}
.customer-pagination-arrows:hover{
  border:2px solid var(--customer-blue) !important;
}
.customer-pagination-arrows:active{
  background: var(--customer-blue);
  border:2px solid var(--customer-blue) !important;
}

/*          */
/* Zebra s.table-rowiping */
.employee-table-row:nth-of-type(odd) {
  background: #e6feff;
}
.employee-table-heading {
  background: var(--employee-green);
}

.employee-table-row:hover .table-element {
  background: #148082;
}
/*          */
/* Zebra s.table-rowiping */
.vendor-table-row:nth-of-type(odd) {
  background: #ffeff2;
}
.vendor-table-heading {
  background: var(--vendor-pink);
}

.vendor-table-row:hover .table-element {
  background: #bc4465;
}
/*          */
/* END OF TABLE STYLES */

/* BREADCRUMB STYLE */
.breadcrumb-outer-container {
  width: 100%;
}
.breadcrumb-container {
  width: fit-content;
  margin: 40px 0px 10px 8%;
  display: flex;
  align-content: flex-end;
  padding-right: 30px;
  transition: all 0.5s;
}
.breadcrumb-container:hover {
  padding-right: 50px;
}
.breadcrumb-icon {
  display: flex;
  align-content: flex-end;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s;
}
.breadcrumb-icon:hover {
  transform: translateY(-4px);
}
.breadcrumb-title {
  letter-spacing: 1px;
  text-align: center;
  font-size: 25px;
}
.breadcrumb-text {
  margin-left: 10px;
  font-weight: bold;
  font-size: 17px;
  text-transform: uppercase;
}

.breadcrumb-border-customer {
  border-bottom: 3px solid var(--customer-blue);
}
.breadcrumb-text-color-customer {
  color: var(--customer-blue);
}
.breadcrumb-border-employee {
  border-bottom: 3px solid var(--employee-green);
}
.breadcrumb-text-color-employee {
  color: var(--employee-green);
}
.breadcrumb-border-vendor {
  border-bottom: 3px solid var(--vendor-pink);
}
.breadcrumb-text-color-vendor {
  color: var(--vendor-pink);
}
/*                       */

/* MODAL COMMON STYLING*/
.modal-box-outer-container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.7); /* Black w/ opacity */
}
.modal-box-container {
  width: 80%;
  height: 80vh;
  background-color: aliceblue;
  display: grid;
  grid-template-columns: 50% 50%;
  animation: showModal 0.5s ease-in-out;
  overflow-y: scroll;
}

@keyframes showModal {
  0% {
    transform: scale(0.1);
    opacity: 0.1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes showModalTitle {
  0% {
    transform: translateY(-30px);
    opacity: 0.1;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
.modal-box-title {
  width: 80%;
  display: flex;
  background-color: aliceblue;
  animation: showModalTitle 0.7s ease-in-out;
  justify-content: center;
  padding: 15px 10px;
  border-bottom: 3px solid #000;
}

.modal-box-title-pdf {
  width: 4%;
  font-size: 22px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.modal-box-title-pdf:active {
  transform: translateY(2px);
}
.modal-box-title-text {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  width: 90%;
}

.modal-box-close {
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #000;
  border-radius: 20px;
  width: 3%;
  padding: 2px;
  cursor: pointer;
}
.modal-box-close:hover {
  border: none;
  color: snow;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
}
.modal-box-close:active {
  transform: translateY(2px);
  box-shadow: 0px 0.6rem 1rem rgba(0, 0, 0, 0.4);
}

.modal-box-item {
  padding: 15px 0px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  font-weight: bold;
}
.modal-box-item:nth-of-type(odd) {
  border-right: 3px solid #000;
}
.modal-box-item-title {
  font-weight: bold;
  text-align: center;
}
.modal-box-item-value{
  text-align: center;
}

/* CUSTOMER MODAL STYLING */
.customer-modal-box-text-color {
  color: var(--customer-blue);
}
.customer-modal-box-title-bottom {
  border-bottom: 1.5px solid var(--customer-blue);
}
.customer-modal-box-close:hover {
  background-color: var(--customer-blue);
  color: snow;
}
/*                      */
/* END OF MODAL COMMON STYLING*/

/* EMPLOYEE MODAL STYLING */
.employee-modal-box-text-color {
  color: #187273;
}
.employee-modal-box-title-bottom {
  border-bottom: 1.5px solid var(--employee-green);
}
.employee-modal-box-close:hover {
  background-color: var(--employee-green);
  color: snow;
}
/*                      */

/* VENDOR MODAL STYLING */
.vendor-modal-box-text-color {
  color:#c34365;
}
.vendor-modal-box-title-bottom {
  border-bottom: 1.5px solid var(--vendor-pink);
}
.vendor-modal-box-close:hover {
  background-color: var(--vendor-pink);
  color: snow;
}
/*                      */
/* END OF MODAL COMMON STYLING*/

/* LOADING SCREEN STYLING */
.loading-screen-container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(255, 254, 254, 0.9); /* Fallback color */
}
.sp {
  width: 60px;
  height: 60px;
  clear: both;
  margin: 20px auto;
}
/* CUSTOMER LOADING SCREEN STYLING */
/* Spinner Slices */
.sp.customer-loading-screeen {
  border-radius: 50%;
  border-top: 16px rgba(32, 52, 110, 1) solid;
  border-left: 16px rgba(32, 52, 110, 0.5) solid;
  border-bottom: 16px rgba(32, 52, 110, 0.5) solid;
  border-right: 16px rgba(32, 52, 110, 0.5) solid;
  -webkit-animation: spSlices 1s infinite linear;
  animation: spSlicesCustomer 1s infinite linear;
}
@keyframes spSlicesCustomer {
  0% {
    border-top: 16px rgba(32, 52, 110, 1) solid;
    border-right: 16px rgba(32, 52, 110, 0.5) solid;
    border-bottom: 16px rgba(32, 52, 110, 0.5) solid;
    border-left: 16px rgba(32, 52, 110, 0.5) solid;
  }
  25% {
    border-top: 16px rgba(32, 52, 110, 0.5) solid;
    border-right: 16px rgba(32, 52, 110, 1) solid;
    border-bottom: 16px rgba(32, 52, 110, 0.5) solid;
    border-left: 16px rgba(32, 52, 110, 0.5) solid;
  }
  50% {
    border-top: 16px rgba(32, 52, 110, 0.5) solid;
    border-right: 16px rgba(32, 52, 110, 0.5) solid;
    border-bottom: 16px rgba(32, 52, 110, 1) solid;
    border-left: 16px rgba(32, 52, 110, 0.5) solid;
  }
  75% {
    border-top: 16px rgba(32, 52, 110, 0.5) solid;
    border-right: 16px rgba(32, 52, 110, 0.5) solid;
    border-bottom: 16px rgba(32, 52, 110, 0.5) solid;
    border-left: 16px rgba(32, 52, 110, 1) solid;
  }
  100% {
    border-top: 16px rgba(32, 52, 110, 1) solid;
    border-right: 16px rgba(32, 52, 110, 0.5) solid;
    border-bottom: 16px rgba(32, 52, 110, 0.5) solid;
    border-left: 16px rgba(32, 52, 110, 0.5) solid;
  }
}
.fadeaway {
  animation: fade 0.3s ease-in-out;
}
@keyframes fade {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/*                      */
/* EMPLOYEE LOADING SCREEN STYLING */
/* Spinner Slices */
.sp.employee-loading-screeen {
  border-radius: 50%;
  border-top: 16px rgba(36, 140, 142, 1) solid;
  border-left: 16px rgba(36, 140, 142, 0.5) solid;
  border-bottom: 16px rgba(36, 140, 142, 0.5) solid;
  border-right: 16px rgba(36, 140, 142, 0.5) solid;
  -webkit-animation: spSlices 1s infinite linear;
  animation: spSlicesEmployee 1s infinite linear;
}
@keyframes spSlicesEmployee {
  0% {
    border-top: 16px rgba(36, 140, 142, 1) solid;
    border-left: 16px rgba(36, 140, 142, 0.5) solid;
    border-bottom: 16px rgba(36, 140, 142, 0.5) solid;
    border-right: 16px rgba(36, 140, 142, 0.5) solid;
  }
  25% {
    border-top: 16px rgba(36, 140, 142, 0.5) solid;
    border-left: 16px rgba(36, 140, 142, 1) solid;
    border-bottom: 16px rgba(36, 140, 142, 0.5) solid;
    border-right: 16px rgba(36, 140, 142, 0.5) solid;
  }
  50% {
    border-top: 16px rgba(36, 140, 142, 0.5) solid;
    border-left: 16px rgba(36, 140, 142, 0.5) solid;
    border-bottom: 16px rgba(36, 140, 142, 1) solid;
    border-right: 16px rgba(36, 140, 142, 0.5) solid;
  }
  75% {
    border-top: 16px rgba(36, 140, 142, 0.5) solid;
    border-left: 16px rgba(36, 140, 142, 0.5) solid;
    border-bottom: 16px rgba(36, 140, 142, 0.5) solid;
    border-right: 16px rgba(36, 140, 142, 1) solid;
  }
  100% {
    border-top: 16px rgba(36, 140, 142, 1) solid;
    border-left: 16px rgba(36, 140, 142, 0.5) solid;
    border-bottom: 16px rgba(36, 140, 142, 0.5) solid;
    border-right: 16px rgba(36, 140, 142, 0.5) solid;
  }
}
/*              */
/* VENDOR LOADING SCREEN STYLING */
/* Spinner Slices */
.sp.vendor-loading-screeen {
  border-radius: 50%;
  border-top: 16px rgba(217, 114, 142, 1) solid;
  border-left: 16px rgba(217, 114, 142, 0.5) solid;
  border-bottom: 16px rgba(217, 114, 142, 0.5) solid;
  border-right: 16px rgba(217, 114, 142, 0.5) solid;
  -webkit-animation: spSlices 1s infinite linear;
  animation: spSlicesVendor 1s infinite linear;
}
@keyframes spSlicesVendor {
  0% {
    border-top: 16px rgba(217, 114, 142, 1) solid;
    border-left: 16px rgba(217, 114, 142, 0.5) solid;
    border-bottom: 16px rgba(217, 114, 142, 0.5) solid;
    border-right: 16px rgba(217, 114, 142, 0.5) solid;
  }
  25% {
    border-top: 16px rgba(217, 114, 142,0.5) solid;
  border-left: 16px rgba(217, 114, 142,1) solid;
  border-bottom: 16px rgba(217, 114, 142,0.5) solid;
  border-right: 16px rgba(217, 114, 142,0.5) solid;
  }
  50% {
    border-top: 16px rgba(217, 114, 142,0.5) solid;
  border-left: 16px rgba(217, 114, 142,0.5) solid;
  border-bottom: 16px rgba(217, 114, 142,1) solid;
  border-right: 16px rgba(217, 114, 142,0.5) solid;
  }
  75% {
    border-top: 16px rgba(217, 114, 142,0.5) solid;
  border-left: 16px rgba(217, 114, 142,0.5) solid;
  border-bottom: 16px rgba(217, 114, 142,0.5) solid;
  border-right: 16px rgba(217, 114, 142,1) solid;
  }
  100% {
    border-top: 16px rgba(217, 114, 142, 1) solid;
    border-left: 16px rgba(217, 114, 142, 0.5) solid;
    border-bottom: 16px rgba(217, 114, 142, 0.5) solid;
    border-right: 16px rgba(217, 114, 142, 0.5) solid;
  }
}
/*              */
/* END OF LOADING SCREEN STYLING */
