<app-navbar-component
  [ngClass]="commonStyleValues.navbarStyleClasses['navbar-container']"
  class="navbar-container"
  [portal_name]="'Customer'"
  [style_class]="commonStyleValues.navbarStyleClasses"
></app-navbar-component>
<app-bread-crumb
  class="breadcrumb-outer-container"
  [style_class]="commonStyleValues.breadCrumbStyleClass"
  [breadcrumb_text]="['Customer', 'Financial Sheet', 'Credit & Debit MEMO']"
  (onToDashboard)="toDashboard()"
></app-bread-crumb>
<h2 class="breadcrumb-title">
  {{ toggleCreditDebit ? "CREDIT" : "DEBIT" }} MEMO
</h2>
<div class="customer-toggler">
  <span
    [ngClass]="toggleCreditDebit ? 'showToggle' : 'hiddenToggle'"
    (click)="changeCrdeitDebitToggle()"
  >
    CREDIT </span
  >/
  <span
    [ngClass]="toggleCreditDebit ? 'hiddenToggle' : 'showToggle'"
    (click)="changeCrdeitDebitToggle()"
  >
    DEBIT
  </span>
</div>
<!-- TODO: fix this -->
<app-loading-screen
  class="loading-screen-container {{ loadingScreenToggle ? '' : 'fadeaway' }}"
  [loading_class]="'customer-loading-screeen'"
  *ngIf="loadingScreenToggle"
></app-loading-screen>

<!-- CREDIT TABLE -->
<ng-container *ngIf="toggleCreditDebit">
  <app-table-component
    [table_data]="CreditList"
    [style_class]="commonStyleValues.tableStyleClass"
    (display_modal)="showModal($event)"
    [column_values]="columnValuesCredit"
    [column_data_types]="columnDataTypeCredit"
  [page_name]="'CREDIT LIST'"
  *ngIf="!noDataToggleCredit && !loadingScreenToggle"
  >
  </app-table-component>
  <div class="no-data-container" *ngIf="noDataToggleCredit && !loadingScreenToggle">
    <img src="assets/Images/No-Data.png"  class="no-data-img" />
    <h2>No Data</h2>
  </div>
</ng-container>
<!-- DEBIT TABLE -->
<ng-container *ngIf="!toggleCreditDebit">
  <app-table-component
    [table_data]="DebitList"
    [style_class]="commonStyleValues.tableStyleClass"
    (display_modal)="showModal($event)"
    [column_values]="columnValuesDebit"
    [column_data_types]="columnDataTypeDebit"
  [page_name]="'DEBIT LIST'"
  *ngIf="!noDataToggleDebit && !loadingScreenToggle"
  >
  </app-table-component>
  <div class="no-data-container" *ngIf="noDataToggleDebit && !loadingScreenToggle">
    <img src="assets/Images/No-Data.png"  class="no-data-img" />
    <h2>No Data</h2>
  </div>
</ng-container>

<app-modal-box
  *ngIf="modalToggle"
  class="modal-box-outer-container"
  [modal_title]="modalTitle"
  [modal_data]="modalData"
  [heading_name]="modalDataHeader"
  (close_modal)="closeModal()"
  [modal_style_class]="commonStyleValues.modalStyleClass"
></app-modal-box>