.navbar-heading {
  font-size: 23px;
  font-weight: bold;
  letter-spacing: 1px;
  padding-top: 14px;
}
.navbar-icon {
  width: 45px;
}
.navbar-profile-icon {
  width: 45px;
  border: 2.5px solid var(--customer-blue);
  border-radius: 25px;
  padding: 2px;
  cursor: pointer;
}

.navbar-dropdown-container {
  position: absolute;
  right: 5px;
  top: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 12%;
  border-right: 2px solid var(--customer-blue);
  border-left: 2px solid var(--customer-blue);
  border-bottom: 2px solid var(--customer-blue);
  background-color: rgb(192, 217, 239);
  cursor: pointer;
}
.navbar-dropdown-item-container {
  font-weight: bold;
  letter-spacing: 1px;
  width: 100%;
  padding: 15px 15px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.navbar-dropdown-item-container:hover {
  background-color: var(--customer-blue);
  color: snow;
}

.profile-modal-conatiner {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100vh; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.7); /* Fallback color */
}
.profile-modal-box {
  background: aliceblue;
  border-radius: 8px;
  width: 50%;
  height: 69vh;
  border: 3.5px solid var(--customer-blue);
}
.profile-modal-img-container {
  width: 100%;
  height: 13vh;
  position: relative;
}
.profile-modal-img {
  width: 20%;
  position: absolute;
  left: 40%;
  top: -70px;
}
.profile-modal-close {
  position: absolute;
  right: -12%;
  font-size: 30px;
  top: -86px;
}
.profile-modal-close > * {
  color: snow;
  cursor: pointer;
}
.profile-modal-close > *:active {
  transform: translateY(3px);
}
.profile-modal-content {
  width: 100%;
  overflow-y: scroll;
  height: 53vh;
}
.profile-modal-item {
  padding-bottom: 20px;
  border-bottom: 2px solid black;
}
.profile-modal-item:not(:first-child) {
  padding-top: 30px;
}
.profile-modal-item h4 {
  text-align: center;
  letter-spacing: 1.3px;
}
.profile-modal-values {
  width: 85%;
  margin: 0 auto;
  border-bottom: 2px solid var(--customer-blue);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-weight: bold;
  padding: 20px 0px;
}
.profile-modal-values span {
  letter-spacing: 1px;
}
.profile-modal-values:last-child {
  border-bottom: none;
}
.profile-modal-item:last-child {
  border-bottom: none;
}
