<app-navbar-component
  class="navbar-container"
  [portal_name]="'Customer'"
></app-navbar-component>
<app-bread-crumb
  class="breadcrumb-outer-container"
  [style_class]="breadCrumbStyleClass"
  [breadcrumb_text]="['Customer', 'Delivery List']"
  (onToDashboard)="toDashboard()"
></app-bread-crumb>
<h2 class="breadcrumb-title">DELIVERY LIST</h2>
<app-table-component
  [table_data]="DeliveryList"
  [style_class]="tableStyleClass"
  (display_modal)="showModal($event)"
  [column_values]="columnValues"
>
</app-table-component>
<app-modal-box
  *ngIf="modalToggle"
  class="modal-box-outer-container"
  [modal_title]="modalTitle"
  [modal_data]="modalData"
  (close_modal)="closeModal()"
  [modal_style_class]="modalStyleClass"
></app-modal-box>
<app-loading-screen
  class="loading-screen-container {{ loadingScreenToggle ? '' : 'fadeaway' }}"
  [loading_class]="'customer-loading-screeen'"
  *ngIf="loadingScreenToggle"
></app-loading-screen>
